<% if @measurements.empty? %>
  
Uporabnik se ni treniral.

<% else %>
  <div class="calendar">
    <div class="month"><button class="arrow">&#8592;</button><%= displayMonth(@measurements.first.start_time) %> <button class="arrow">&#8594;</button></div>
    <% @measurements.group_by{ |measurement| measurement.start_time.day}.each do |k,v| %>
      <div class="day" measurement-id="<%= v.first.id %> "><%= k %> </div>
    <% end  %>
  </div>
  <br>
  <div id="graphWindow">
    <div id="placeholder"></div>
    <div id="workoutSets">
      Series 
      <% for @set in 1..3 %>
        <button value="<%=@set %>"><%=@set %></button>
      <% end %>
    </div>
    <span id="clickdata" contenteditable="true"></span>
  </div>
  
  
  <div id="types">gfgfgfgfgf</div>
  
<% end %>