<% content_for :nav_bar do %>
  <li><a href="#home"><%= I18n.t 'landing_page.home' %></a></li>
  <li><a href="#feature"><%= I18n.t 'landing_page.features' %></a></li>
  <li><a href="#download"><%= I18n.t 'landing_page.download' %></a></li>
  <li><a href="#contact"><%= I18n.t 'landing_page.contact' %></a></li>
  <li>
    <a href="#" class="sign-in">
      <button type="button" class="btn btn-primary navbar-btn"><i class="fa fa-sign-in"></i><%= I18n.t 'landing_page.log_in' %></button>
    </a>
  </li>
<% end %>

<div class="preloader">
  <div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>

<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="jim-logo"></div>

          <p class="tm-white tagline-head">
            <%= I18n.t 'landing_page.description' %>
          </p>

          <p>
            <a href="https://play.google.com/store/apps/details?id=com.trainerjim.mobile.android">
              <img alt="Android app on Google Play"
                   src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png"/>
            </a>
          </p>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</section>

<section id="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-4 landing-box">
        <i class="fa fa-edit"></i>

        <h3 class="text-uppercase"><%= I18n.t 'landing_page.training_templates' %></h3>

        <p>
          <%= I18n.t 'landing_page.training_templates_description' %>
        </p>
      </div>
      <div class="col-md-4 landing-box">
        <i class="fa fa-mobile"></i>

        <h3 class="text-uppercase"><%= I18n.t 'landing_page.efficient_training' %></h3>

        <p>
          <%= I18n.t 'landing_page.efficient_training_description' %>
        </p>
      </div>
      <div class="col-md-4 landing-box">
        <i class="fa fa-dashboard"></i>

        <h3 class="text-uppercase"><%= I18n.t 'landing_page.motivation' %></h3>

        <p>
          <%= I18n.t 'landing_page.motivation_description' %>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="feature" class="feature">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 you-will-love">
        <h1><%= I18n.t 'landing_page.easy_features1' %> <i class="fa fa-heart"></i> <%= I18n.t 'landing_page.easy_features2' %></h1>
      </div>
    </div>

    <div class="row">
      <div class="bullets col-md-6">
        <h2 class="text-uppercase"><%= I18n.t 'landing_page.workout_templates' %></h2>

        <p>
          <i class="fa fa-list-ul"></i> <%= I18n.t 'landing_page.workout_templates_list1' %>
        </p>

        <p>
          <i class="fa fa-file-text"></i> <%= I18n.t 'landing_page.workout_templates_list2' %>
        </p>

        <p>
          <i class="fa fa-upload"></i> <%= I18n.t 'landing_page.workout_templates_list3' %>
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag "landing-page/jim-template.png", class: "img-responsive", alt: "feature img" %>
      </div>
    </div>
  </div>
</section>

<section id="feature1" class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="center-horizontal mobile-feature-img">
          <%= image_tag "landing-page/jim-mobile.png", class: "img-responsive", alt: "feature img" %>
        </div>
      </div>
      <div class="bullets col-md-6">
        <h2 class="text-uppercase"><%= I18n.t 'landing_page.training_assistant' %></h2>

        <p>
          <i class="fa fa-mobile-phone"></i> <%= I18n.t 'landing_page.training_assistant_list1' %>
        </p>

        <p>
          <i class="fa fa-rocket"></i> <%= I18n.t 'landing_page.training_assistant_list2' %>
        </p>

        <p>
          <i class="fa fa-refresh"></i> <%= I18n.t 'landing_page.training_assistant_list3' %>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="feature2" class="feature">
  <div class="container">
    <div class="row">
      <div class="bullets col-md-6">
        <h2 class="text-uppercase"><%= I18n.t 'landing_page.progress_review' %></h2>

        <p>
          <i class="fa fa-calendar"></i> <%= I18n.t 'landing_page.progress_review_list1' %>
        </p>

        <p>
          <i class="fa fa-dashboard"></i> <%= I18n.t 'landing_page.progress_review_list2' %>
        </p>

        <p>
          <i class="fa fa-check"></i> <%= I18n.t 'landing_page.progress_review_list3' %>
        </p>
      </div>

      <div class="col-md-6">
        <%= image_tag "landing-page/jim-drill-down.png", class: "img-responsive", alt: "feature img" %>
      </div>
    </div>
  </div>
</section>


<section id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-uppercase"><%= I18n.t 'landing_page.mobile_application' %></h2>

        <p>
          <%= I18n.t 'landing_page.mobile_application_description' %>
        </p>

        <div class="mobile-demo center-horizontal">
          <a href="https://play.google.com/store/apps/details?id=com.trainerjim.mobile.android">
            <img alt="Android app on Google Play" style="height: 60px"
                 src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png"/>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="center-horizontal">
          <iframe width="480" height="270" src="https://www.youtube.com/embed/vidjp7155Nw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-uppercase"><%= I18n.t 'landing_page.demo' %></h2>

          <p>
            <%= I18n.t 'landing_page.offer' %>
          </p>

          <address>
            <p><i class="fa fa-envelope-o"></i> <a href="mailto:hello@trainerjim.com">hello@trainerjim.com</a></p>

            <p><i class="fa fa-phone"></i> <%= I18n.t 'landing_page.contact_vienna' %>: +43 6776 1470 456</p>

            <p><i class="fa fa-phone"></i> <%= I18n.t 'landing_page.contact_maribor' %>: +386 31 866 244</p>

            <p><i class="fa fa-phone"></i> <%= I18n.t 'landing_page.contact_london' %>: +44 7540 168 854</p>
          </address>
        </div>
        <div class="col-md-6">
          <div class="contact-form">
            <form>

              <div class="form-group email">
                <input type="email" class="form-control email" placeholder="Email">

                <div class="email-invalid alert alert-danger" style="display: none;" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  Please enter a valid email address.
                </div>
              </div>

              <div class="form-group">
                <textarea class="form-control message" placeholder="Message (optional)" rows="4"></textarea>
              </div>

              <div class="post-success alert alert-success" style="display: none;" role="alert">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Your email has been sent. We'll get back to you as soon as possible.
              </div>

              <div class="post-failure alert alert-danger" style="display: none;" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Something went wrong. We couldn't send your email. Try clicking
                <a href="mailto:hello@trainerjim.com">this email link</a> or try
                again later.
              </div>


              <div class="form-group">
                <input type="submit" class="form-control text-uppercase send" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
