<div id="show-training">
  <div class="main-page-title">
    Trening program "<%= @t.name %>"
  </div>
  <div class="exercise-list-container">
    <div class="title">Vaje:</div>
    <div class="exercise-list">
      <%
      exCounter = 0
      @t.exercises.all.each do |ex|
        exCounter += 1
      %>
        <div class="exercise-entry <%= exCounter % 2 == 1 ? 'odd' : 'even' %>">
          <div class="exercise-name"><%= exCounter  %>. <%= ex.name %></div>
          <div class="series-list">
            <%
            sCounter = 0
            ex.series.each do |s|
              sCounter += 1
            %>
              <div class="series-entry">
                <div>
                  Število ponovitev: <%= s.repeat_count %>
                </div>
                <div>
                  Teža: <%= s.weight %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>