<div>
  <h1>Upload training data</h1>
  <%= form_tag(upload_training_url, :multipart => true) do |f| %>
    <table class="form-table">
      <tr>
        <td class="jimlabel"><div class="form-text-element"><%= t 'shared.login-panel.email' %></div></td>
        <td><div class="form-text-element"><input type="text" class="email standard-input-field" name="email" value="<%= (defined? email) ? email : '' %>" /></div></td>
      </tr>
      <tr>
        <td class="jimlabel"><div class="form-text-element"><%= t 'shared.login-panel.password' %></div></td>
        <td><div class="form-text-element"><input type="password" class="password standard-input-field" name="password" value="" /></div></td>
      </tr>
      <tr>
        <td class="jimlabel"><div class="form-text-element">Training data ZIP file:</div></td>
        <td><div class="form-text-element"><%= file_field_tag 'trainingData' %></div></td>
      </tr>
      <tr>
        <td class="jimlabel"><div class="form-text-element">Training ID:</div></td>
        <td>
          <div class="form-text-element">
            <select name="trainingId">
              <% Training.all.each do |t| %>
                <option value="<%= t.id %>">
                  <%= t.name %>
                </option>
              <% end %>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><div class="error-message"></div></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" class="standard-button button-behaviour submit-button" value="<%= t 'shared.login-panel.submit'  %>" /></td>
      </tr>
    </table>
  <% end %>
</div>