<!DOCTYPE html>
<html ng-app="welcome">
<head lang="en">
  <title><%= Rails.application.config.page_name %>/Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "welcome", :media => "all" %>
  <%= javascript_include_tag "welcome" %>
</head>
<body class="main-layout home welcome" ng-controller="WelcomeCtrl">

<div class="welcome-page">

  <div class="header">
    <div class="header-logo central-strip">

      <div class="logo-button-container">
        <div class="comming-soon"></div>
        <%= link_to "", "http://player.vimeo.com/video/63753343", :data => {:colorbox => true, :colorbox_height => '360px', :colorbox_width => '640px', :colorbox_iframe => true}, :class => 'logo-button' %>
      </div>
      <login-panel></login-panel>
    </div>

    <div class="subscription-top central-strip">
      <div class="subscription">
        <div class="the-form">
          <input class="subscription-email" type="text" placeholder="eg. train@trainerjim.com" value=""/>
          <input class="subscribe-btn" type="submit" value="subscribe"/>
        </div>
      </div>
    </div>

  </div>

  <div class="central-strip">
    <div class="for-whom">
      <div class="buttons">
        <div class="btn-for-whom trainees on button-behaviour" data-slide-number="1"></div>
        <div class="btn-for-whom trainers off button-behaviour" data-slide-number="0"></div>
      </div>
      <div id="for-whom-features" class="carousel slide">
        <div class="carousel-inner">
          <div class="features-details trainers item"></div>
          <div class="features-details trainees active item"></div>
        </div>
      </div>
    </div>

    <div class="explanation"></div>

    <div class="features">
      <div class="mobile-web-app"></div>
      <div class="trainer-advice"></div>
    </div>

    <div class="social">
      <a href="<%= Rails.application.config.jim_twitter_url %>">
        <div class="twitter"></div>
      </a>
      <a href="<%= Rails.application.config.jim_tumblr_url %>">
        <div class="tumblr"></div>
      </a>
    </div>

    <div class="pocket-trousers"></div>

    <div class="subscription-bottom">
      <div class="subscription">
        <div class="fist-bump"></div>
        <div class="sub-notice">be the first to know when JIM launches</div>
        <div class="the-form">
          <input class="subscription-email" type="text" placeholder="eg. train@trainerjim.com" value=""/>
          <input class="subscribe-btn" type="submit" value="subscribe"/>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="subscription-error-alert subscription-alert alert alert-block alert-error fade in hide">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Darn it! We couldn't subscribe you.</h4>

  <p class="alert-content">Please check your email and try again.</p>
</div>

<div class="subscription-success-alert subscription-alert alert alert-block alert-success fade in hide">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Great stuff, champ!</h4>

  <p class="alert-content">When Jim starts pumping, we'll send you an email and you'll be the first to know.</p>
</div>

</body>
</html>