<!DOCTYPE html>
<html ng-app="welcome">
<head lang="en">
  <title><%= Rails.application.config.page_name %>/Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "welcome", :media => "all" %>
  <%= javascript_include_tag "welcome" %>
</head>
<body class="main-layout home welcome">

<div class="welcome-page">

  <div class="header">
    <div class="header-logo central-strip">

      <div class="logo-button-container">
        <div class="comming-soon"></div>
        <%= link_to "", "http://player.vimeo.com/video/63753343", :data => {:colorbox => true, :colorbox_height => '360px', :colorbox_width => '640px', :colorbox_iframe => true}, :class => 'logo-button' %>
      </div>
      <login-panel></login-panel>
    </div>
  </div>

  <div class="central-strip">
    <div class="for-whom">
      <div class="buttons">
        <div class="btn-for-whom trainees on button-behaviour" ng-click="onTraineesButtonClicked()"></div>
        <div class="btn-for-whom trainers off button-behaviour" ng-click="onTrainersButtonClicked()"></div>
      </div>
      <carousel interval="5000">
        <slide active="isTrainersSlideActive">
          <div class="features-details trainers"></div>
        </slide>
        <slide active="isTraineesSlideActive">
          <div class="features-details trainees"></div>
        </slide>
      </carousel>
    </div>

    <div class="explanation"></div>

    <div class="features">
      <div class="mobile-web-app"></div>
      <div class="trainer-advice"></div>
    </div>

    <div class="social">
      <a href="<%= Rails.application.config.jim_twitter_url %>">
        <div class="twitter"></div>
      </a>
      <a href="<%= Rails.application.config.jim_tumblr_url %>">
        <div class="tumblr"></div>
      </a>
    </div>

    <div class="pocket-trousers"></div>

  </div>

</div>

</body>
</html>