<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TrainerJim</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <%= stylesheet_link_tag "landing-page/css/animate.min.css", :media => "all" %>
  <%= stylesheet_link_tag "landing-page/css/bootstrap.min.css", :media => "all" %>
  <%= stylesheet_link_tag "landing-page/css/font-awesome.min.css", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "landing-page/css/style.css", :media => "all" %>
</head>
<body>
<div class="preloader">
  <div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <span class="navbar-brand"></span>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right text-uppercase">
        <li><a href="#home">Home</a></li>
        <li><a href="#feature">Features</a></li>
        <li><a href="#download">Download</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a class="sign-in" href="#sign-in">
          <button type="button" class="btn btn-primary navbar-btn"><i class="fa fa-sign-in"></i> Sign in</button>
        </a></li>
      </ul>
    </div>
  </div>
</nav>

<section id="sign-in">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 title">
        <h2>JOIN US AND START PUMPING!</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Log in</h3>
          </div>

          <div class="panel-body">
            <form class="log-in-form">
              <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="username" id="email"/>
              </div>

              <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="password"/>
              </div>

              <div class="alert alert-danger" role="alert">
                Could not log in. Please verify your email and password.
              </div>

              <div class="form-group">
                <button class="btn btn-primary pull-right submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Sign up</h3>
          </div>

          <div class="panel-body">
            <form class="sign-up-form">
              <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="username" id="email"/>
              </div>

              <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="password"/>
              </div>

              <div class="form-group">
                <label for="full_name">Name:</label>
                <input class="form-control" type="text" name="full_name" id="full_name"/>
              </div>

              <div class="form-group">
                <label for="registration_token">Registration token:</label>
                <input class="form-control" type="text" name="registration_token" id="registration_token"/>
              </div>

              <div class="alert alert-success" role="alert">
                Sign up requested. We will send you a verification email.
                Please check your email for further instructions.
              </div>

              <div class="alert alert-danger" role="alert">
                Could not sign up. Please check your sign-up details.
              </div>

              <div class="form-group">
                <button class="btn btn-primary pull-right submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
          <div class="jim-logo"></div>

          <p class="tm-white">
            Increase training motivation of your customers by offering personalized workouts along with your standard
            subscriptions.
          </p>

          <p>
            <a href="https://play.google.com/store/apps/details?id=TrainerJim">
              <img alt="Android app on Google Play"
                   src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png"/>
            </a>
          </p>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</section>

<section id="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <i class="fa fa-mobile"></i>

        <h3 class="text-uppercase">TRAINING TEMPLATES</h3>

        <p>
          Create your own training templates or simply use ours. Personalize trainings for your customers and
          let the TrainerJim mobile app guide them.
        </p>
      </div>
      <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <i class="fa fa-dashboard"></i>

        <h3 class="text-uppercase">EFFICIENT TRAINING</h3>

        <p>
          With our mobile app your customers can easily follow the trainings you prepared. Features such as exercise
          information and resting timers make them train efficiently.
        </p>
      </div>
      <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <i class="fa fa-users"></i>

        <h3 class="text-uppercase">MOTIVATION</h3>

        <p>
          Track progress of your customers and motivate them. Change their training as they go along for
          maximum improvement.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="feature" class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
        <h2 class="text-uppercase">REUSABLE TEMPLATES</h2>

        <p>
          <i class="fa fa-file-text"></i> Create reusable training templates.
        </p>

        <p>
          <i class="fa fa-user"></i> Easily customize the templates for each customer.
        </p>
      </div>
      <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
        <%= image_tag "landing-page/images/jim-template.png", class: "img-responsive", alt: "feature img" %>
      </div>
    </div>
  </div>
</section>

<section id="feature1" class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <%= image_tag "landing-page/images/jim-drill-down.png", class: "img-responsive", alt: "feature img" %>
      </div>
      <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <h2 class="text-uppercase">TRACK PROGRESS</h2>

        <p>
          <i class="fa fa-mobile"></i> Have a high level overview of how your customers are training.
        </p>

        <p>
          <i class="fa fa-cogs"></i> Quickly drill down into per exercise details.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
        <h2 class="text-uppercase">Download the TrainerJim App</h2>

        <p>
          The TrainerJim App will guide you through the training prepared by your personal trainer.
        </p>

        <p>
          The app requires minimal attention and keeps you focused on the training.
          Use the app to provide your personal trainer with feedback.
        </p>

        <a href="https://play.google.com/store/apps/details?id=TrainerJim">
          <img alt="Android app on Google Play"
               src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png"/>
        </a>
      </div>
      <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
        <%= image_tag "landing-page/images/jim-template.png", class: "img-responsive", alt: "feature img" %>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <h2 class="text-uppercase">Request a demo</h2>

          <p>
            Do contact us if you're a trainer or a gym manager who would like to join
            us and offer your services through TrainerJim.
          </p>

          <p>
            Feel free to contact us or if you'd like to connect with a personal trainer
            and receive personalized training.
          </p>

          <address>
            <p><i class="fa fa-envelope-o"></i> <a href="mailto:hello@trainerjim.com">hello@trainerjim.com</a></p>
            <p><i class="fa fa-phone"></i> Phone (Austria): +43 7890 123 456</p>
            <p><i class="fa fa-phone"></i> Phone (Slovenia): +386 7890 123 456</p>
            <p><i class="fa fa-phone"></i> Phone (UK): +44 7540 168 854</p>
          </address>
        </div>
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="contact-form">
            <form>

              <div class="form-group">
                <input type="email" class="form-control email" placeholder="Email">
              </div>
              <div class="form-group">
                <textarea class="form-control message" placeholder="Message (optional)" rows="4"></textarea>
              </div>

              <div class="alert alert-success" role="alert">
                Your email has been sent. We'll get back to you as soon as possible.
              </div>

              <div class="alert alert-danger" role="alert`">
                Something went wrong. We couldn't send your email. Try clicking
                <a href="mailto:hello@trainerjim.com">this email link</a> or try
                again later.
              </div>

              <div class="form-group">
                <input type="submit" class="form-control text-uppercase send" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <p>Copyright © 2015 TrainerJim</p>
    </div>
  </div>
</footer>

<%= javascript_include_tag "landing-page/js/jquery.js" %>
<%= javascript_include_tag "landing-page/js/bootstrap.min.js" %>
<%= javascript_include_tag "landing-page/js/wow.min.js" %>
<%= javascript_include_tag "landing-page/js/jquery.singlePageNav.min.js" %>
<%= javascript_include_tag "landing-page/js/custom.js" %>
</body>
</html>
