<div id="footer" class="footer outer-container">
  <div class="container">
    <div class="row-fluid content">
      <div class="span12">
        <div class="left">
          <div class="links">
            <a href="<%= welcome_url %>" class="first">HOME</a> |
            <a href="<%= welcome_url %>">FEATURES</a> |
            <a href="<%= welcome_url %>">TEAM</a> |
            <a href="<%= welcome_url %>">FEEDBACK, QA & COMMENTS</a> |
            <a href="<%= welcome_url %>" class="mobile-app">GET THE MOBILE APP</a>
          </div>

          <div class="copyright-notice">
            Trainer JIM. Copyright &copy; 2012
          </div>
        </div>

        <div class="right">
          <div class="social">
            <div class="text">We're social. A lot.</div>
            <a href="https://twitter.com/trainwithJIM/"><div class="twitter"></div></a>
            <a href="http://trainerjim.tumblr.com/"><div class="tumblr"></div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>