<div id="footer" class="footer outer-container">
  <div class="container">
    <div class="row content">
      <div class="left">
        <div class="links">
          <a href="<%= welcome_url %>" class="first">HOME</a> |
          <a href="<%= welcome_url %>">FEATURES</a> |
          <a href="<%= welcome_url %>">TEAM</a> |
          <a href="<%= welcome_url %>">FEEDBACK, QA & COMMENTS</a> |
          <a href="<%= welcome_url %>" class="mobile-app">GET THE MOBILE APP</a>
        </div>

        <div class="copyright-notice">
          Trainer JIM. Copyright &copy; 2012
        </div>
      </div>
      
      <div class="right">
        <div class="social">
          <div class="text">We're social. A lot.</div>
          <a href="<%= Rails.application.config.jim_twitter_url %>"><div class="twitter"></div></a>
          <a href="<%= Rails.application.config.jim_tumblr_url %>"><div class="tumblr"></div></a>
        </div>
      </div>
    </div>
  </div>
</div>