<div id="header" class="header outer-container">
  <div class="container">
    <table class="panel">
      <tr>
        <td class="logo-part">
          <div class="logo clickable-link" data-cl-href="<%= welcome_url %>"></div>
        </td>
        <td class="main-part">
          <table class="buttons">
            <tr>
              <td class="main-button <%= 'active' if controller? :dashboard  %>"><a href="<%= dashboard_url %>" class="nav-button-icon dashboard"><div></div></a></td>
              <td class="main-button">
                <% if user_signed_in? && current_user.trainer? && content_for?(:trainees) %>
                  <%= yield(:trainees) %>
                <% else %>
                  <a href="#" class="nav-button-icon people">
                    <div></div>
                  </a>
                <% end %>
              </td>
              <td class="main-button <%= 'active' if controller? :training  %>"><a href="<%= workouts_url %>" class="nav-button-icon workout"><div></div></a></td>
              <td class="main-button <%= 'active' if controller? :calendar  %>"><a href="#" class="nav-button-icon calendar"><div></div></a></td>
              <td class="main-button last <%= 'active' if controller? :messages  %>"><a href="#" class="nav-button-icon messages"><div></div></a></td>
            </tr>
          </table>
        </td>
        <td class="login-part">
          <div>
            <% if user_signed_in? then %>
              <%= current_user.display_name %> |
              <a class="white-link" href="<%= destroy_user_session_path %>">Log out</a>
            <% else %>
              <a class="white-link" href="<%= new_user_session_path %>">Log in</a>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
