<div id="header" class="header outer-container">
  <div class="central-strip">
    <table class="panel">
      <tr>
        <td class="logo-part">
          <div class="logo clickable-link" data-cl-href="<%= home_url %>"></div>
        </td>
        <td class="main-part">
          <table class="buttons">
            <tr>
              <td class="main-button"><a href="<%= dashboard_url %>" class="dashboard"><div></div></a></td>
              <td class="main-button"><a href="<%= dashboard_url %>" class="people"><div></div></a></td>
              <td class="main-button"><a href="<%= dashboard_url %>" class="workout"><div></div></a></td>
              <td class="main-button"><a href="<%= dashboard_url %>" class="calendar"><div></div></a></td>
              <td class="main-button last"><a href="<%= dashboard_url %>" class="messages"><div></div></a></td>
            </tr>
          </table>
        </td>
        <td class="login-part">
          <div>
            <% if AuthenticationHelper.is_logged_in?(session) then %>
              <%= AuthenticationHelper.current_user_display_name(session) %>
              <a href="<%= logout_url %>">Log out</a>
            <% else %>
              <a href="<%= login_url %>">Log in</a>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
