<div class="welcome-page">

  <div class="header">
    <div class="header-logo central-strip">
      <% if !user_signed_in? %>
        <div class="sign-in-tab button-behaviour">sign in</div>

        <div class="sign-in-panel auth-panel" style="display: none;">
          <div class="close-icon button-behaviour"></div>

          <div class="the-form">
            <div class="login-part">
              <div class="title">Welcome back, champ.</div>
              <div class="sub-title">Back for more strength?</div>
              <%= render 'devise/shared/login-panel' %>
            </div>

            <% if devise_mapping.registerable? %>
              <div class="registration-part" style="display: none;">
                <div class="title">Welcome champ.</div>
                <div class="sub-title">Nice to have you on board.</div>
                <%= render 'devise/shared/register-panel' %>
              </div>
            <% end %>

          </div>

          <script type="text/javascript">
            $(function() {
              var authPanel = $('div.sign-in-panel.auth-panel');
              var notYetMemberLink = authPanel.find('.sign-up-link a');
              var alreadyMemberLink = authPanel.find('.login-link a');
              var regPanel = authPanel.find('.registration-part');
              var loginPanel = authPanel.find('.login-part');

              function openCloseAuthPanel() {
                if (authPanel.is(':visible'))
                  authPanel.hide();
                else
                  authPanel.show();
              }

              function closeAuthPanel() {
                authPanel.hide();
              }

              function openRegPanel() {
                loginPanel.hide();
                regPanel.show();
              }

              function openLoginPanel() {
                regPanel.hide();
                loginPanel.show();
              }

              $('.sign-in-tab').click(openCloseAuthPanel);
              $('.close-icon').click(closeAuthPanel);
              notYetMemberLink.click(function(e) {
                openRegPanel();
                e.preventDefault();
              });
              alreadyMemberLink.click(function(e) {
                openLoginPanel();
                e.preventDefault();
              });
            });
          </script>

        </div>
      <% end %>
    </div>
    
    <div class="subscription-top central-strip">
      <div class="subscription">
        <div class="the-form">
          <input class="subscription-email" type="text" placeholder="eg. train@trainerjim.com" value=""/>
          <input class="subscribe-btn" type="submit" value="subscribe" />
        </div>
      </div>
    </div>

  </div>

  <div class="central-strip">
    <div class="for-whom">
      <div class="buttons">
        <div class="btn-for-whom trainees on button-behaviour" data-slide-number="1"></div>
        <div class="btn-for-whom trainers off button-behaviour" data-slide-number="0"></div>
      </div>
      <div id="for-whom-features" class="carousel slide">
        <div class="carousel-inner">
          <div class="features-details trainers item"></div>
          <div class="features-details trainees active item"></div>
        </div>
      </div>
      <script type="text/javascript">
        $(function() {
          var btns = $('.btn-for-whom ');
          var details = $('#for-whom-features');

          details.carousel({interval: 4000});

          details.bind('slid', function(e) {
            setBtnOff(btns);
            if (details.find('.active').hasClass('trainees')) {
              setBtnOn(btns.filter('.trainees'));
            } else {
              setBtnOn(btns.filter('.trainers'));
            }
          });

          btns.click(function() {
            details.carousel('pause');
            details.carousel(parseInt($(this).attr('data-slide-number')));
            setBtnOff(btns);
            setBtnOn($(this));
          });

          function setBtnOff(btns) {
            btns.removeClass('on');
            btns.addClass('off');
          }

          function setBtnOn(btns) {
            btns.removeClass('off');
            btns.addClass('on');
          }


        });
      </script>
    </div>

    <div class="explanation"></div>

    <div class="features">
      <div class="mobile-web-app"></div>
      <div class="trainer-advice"></div>
    </div>

    <div class="social">
      <a href="<%= Rails.application.config.jim_twitter_url %>"><div class="twitter"></div></a>
      <a href="<%= Rails.application.config.jim_tumblr_url %>"><div class="tumblr"></div></a>
    </div>

    <div class="pocket-trousers"></div>

    <div class="subscription-bottom">
      <div class="subscription">
        <div class="fist-bump"></div>
        <div class="sub-notice">be the first to know when JIM launches</div>
        <div class="the-form">
          <input class="subscription-email" type="text" placeholder="eg. train@trainerjim.com" value=""/>
          <input class="subscribe-btn" type="submit" value="subscribe" />
        </div>
      </div>
    </div>

  </div>

</div>

<div class="subscription-error-alert subscription-alert alert alert-block alert-error fade in hide">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Darn it! We couldn't subscribe you.</h4>
  <p class="alert-content">Please check your email and try again.</p>
</div>

<div class="subscription-success-alert subscription-alert alert alert-block alert-success fade in hide">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Great stuff, champ!</h4>
  <p class="alert-content">When Jim starts pumping, we'll send you an email and you'll be the first to know.</p>
</div>

<script type="text/javascript">
  $(function() {
    var subAlert = $('.subscription-error-alert');
    var subAlertSuccess = $('.subscription-success-alert');

    function showAlert(el) {
      var al = subAlert.clone();
      al.addClass('displayed');
      el.parents('.subscription').before(al);
      al.show();
    }

    function showAlertSuccess(el) {
      var al = subAlertSuccess.clone();
      al.addClass('displayed');
      el.parents('.subscription').before(al);
      al.show();
    }

    function hideAlerts() {
      $('.subscription-alert.displayed').remove();
    }

    $('.subscribe-btn').click(function() {
      hideAlerts();
      var email = $(this).prev('.subscription-email').val();
      var subscriptionBtn = $(this);
      callJSON('<%= subscription_url  %>', {email: email}, function() {
        showAlertSuccess(subscriptionBtn);
      }, function() {
        showAlert(subscriptionBtn);
      });
    });
  });
</script>