<h1>New measurement</h1>

<%= form_for(@measurement, :url => { :action => "upload" }) do |f| %>
  <div class="actions">
    Data: <%= f.file_field :file_upload_data %>
    Email: <%= f.text_field :email %>
    Password: <%= f.password_field :password %>
    <%= f.submit %>
  </div>
<% end %>
