<!DOCTYPE html>
<html>
  <head lang="en">
    <title><%= Rails.application.config.page_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= yield(:stylesheets) if content_for?(:stylesheets) %>
    <%= stylesheet_link_tag    controller_name, :media => "all" if Rails.application.assets.find_asset(controller_name + '.css') %>
    <%= javascript_include_tag "application" %>
    <%= yield(:scripts) if content_for?(:scripts) %>
    <%= javascript_include_tag controller_name if Rails.application.assets.find_asset(controller_name + '.js') %>
    <%= csrf_meta_tags %>
  </head>
  <body class="main-layout <%= controller_name %> <%= action_name  %>">
    <%= yield(:header) if content_for?(:header) %>
    <% if content_for?(:content) then %>
      <%= yield(:content) %>
    <% else %>
      <%= yield %>
    <% end %>
    <%= yield(:footer) if content_for?(:header) %>
  </body>
</html>