<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TrainerJim</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <%= stylesheet_link_tag "landing", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "landing" %>
</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64326228-2', 'auto');
  ga('send', 'pageview');

  localStorage.setItem('NG_TRANSLATE_LANG_KEY', '<%= I18n.locale %>');
</script>

<nav class="navbar navbar-default navbar-fixed-top landing-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right text-uppercase">
        <%= yield :nav_bar %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<footer>
  <div class="container">
    <div class="row">
      <p>Copyright © 2015 TrainerJim</p>
    </div>
  </div>
</footer>
</body>
</html>
