<% content_for :stylesheets do %>
  <%= stylesheet_link_tag    'frame', :media => 'all' %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'frame' %>
<% end %>

<% content_for :header do %>
  <%= render :partial => 'shared/header-nobuttons' %>
<% end %>

<% content_for :footer do %>
  <%= render :partial => 'shared/footer' %>
<% end %>

<% content_for :content do %>
  <div class="container">
    <div class="row content"><%= yield %></div>
  </div>
<% end %>

<%= render :template => 'layouts/basic' %>